{% extends 'capture/base.html' %} {% block content %}
{% load static %}
<video id="video" autoplay></video>
<button id="snap">Snap Photo</button>
<canvas id="overlay">text</canvas>
<canvas id="canvas">text</canvas>
<div style=""><img id="source" src="{% static "tongue_capture_app/capture/face_outline.png" %}" height="100px" width="70px"></div>
<div id="cameratype"></div>
{% endblock %}
{% block pagescript %}
<script src="{% static "tongue_capture_app/capture/capture.js" %}"></script>
{% endblock %}